spring:
  application:
    name: payments-service
    
  datasource:
    hikari:
      maximum-pool-size: 20
      connection-timeout: 3000
    
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
        
  data:
    redis:
      host: localhost
      port: 6379

  docker:
    compose:
      enabled: true
      file: docker-compose.yml
      env-file: .env
      lifecycle-management: start_only

# gRPC Server 설정
grpc:
  server:
    port: 9090
    
server:
  port: 8081

logging:
  level:
    com.commerce.payments: DEBUG
    io.grpc: INFO
    org.hibernate.tool.schema: DEBUG

aes256:
  key: 61qDonoZcEtIEvUZVPkIKIYovHH82rXtK7T1g/rcc1k=