
services:
  db:
    image: mysql:8.0
    container_name: commerce-mysql
    env_file:
      - .env
    ports:
      - "${MYSQL_PORT}:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      TZ: Asia/Seoul
    command:
      - --default-authentication-plugin=mysql_native_password
    volumes:
      - db-data:/var/lib/mysql

# 데이터 영속성을 위함
volumes:
  db-data:
