
services:
  db:
    image: mysql:8.0
    container_name: commerce-mysql
    env_file:
      - .env
    ports:
      - "${MYSQL_PORT}:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      TZ: Asia/Seoul
    command:
      - --default-authentication-plugin=mysql_native_password
    volumes:
      - db-data:/var/lib/mysql

  redis:
    image: redis:7.2-alpine
    container_name: commerce-redis
    ports:
      - "${REDIS_PORT}:6379"
    command: redis-server --requirepass ${REDIS_PASSWORD}
    volumes:
      - redis-data:/data

# 데이터 영속성을 위함
volumes:
  db-data:
  redis-data:
