spring:
  datasource:
    url: jdbc:mysql://localhost:3306/payment_db?serverTimezone=Asia/Seoul
    username: root
    password:
    hikari:
      maximum-pool-size: 20
      connection-timeout: 3000

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect


logging:
  level:
    org.hibernate.SQL: info